@if(type && label)
{
    <input [formControl]="control" placeholder={{label}}
        [type]="type == 'password' && !displayPassword ? 'password': (type === 'password' && displayPassword ? 'text':type)"
        class="w-full border mt-1 bg-indigo-500/5 mb-2 border-gray-500/10 outline-none rounded py-2.5 px-3 h-full"
        />
    @if (type === 'password') {
        <span (click)="togglePasswordDisplay()">
            <i class="bi" [ngClass]="displayPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
        </span>
    }
    @if(submitted && control.hasError('required')){
        <div>
            {{label}} is required
        </div>
    } @else if(submitted && (control.hasError('minlength') || control.hasError('maxlength'))){
        <div>
            {{label}} must be at least
            {{minLength}}, and maximum
            {{maxLength}} characters
        </div>
    }@else if(submitted && control.hasError('notMatching')){
        <div>
            @if(invalidMessage)
            {
            {{invalidMessage}}
            }@else {
            {{label}} does not match the password
            }
        </div>
    }@else if (submitted && control.hasError('pattern')){
        <div class="text-danger">
            @if (invalidMessage) {
            {{invalidMessage}}
            } @else {
            Invalid {{label}}
            }
        </div>
    }
}